{% extends "template.html" %}
{% block title %}Isabel Leal{% endblock %}
{% block content %}

<h2>About me</h2>
<p>I am an Assistant Professor/Courant Instructor at the <a target="_blank" href="https://cims.nyu.edu/">Courant Institute of Mathematical Sciences</a>. 
You can check my academic website <a href="https://cims.nyu.edu/~leal">here</a>.</p>
<p>I received my PhD degree in mathematics from the <a target="_blank" href="http://www.uchicago.edu/">University of Chicago</a> in June 2018.</p>

{% endblock %}

</body>
</html>				