{% extends "template.html" %}
{% block title %}Projects | Isabel Leal{% endblock %}
{% block content %}

<h2>Projects</h2>
<ul>
<li><strong><a href="http://thesaurus-rex.org">Thesaurus Rex</a></strong>: a single player word game, where the user is challanged to find words in a grid of letters. 
Available in both English and Portuguese (other languages are under development). Implemented in C++ and PostgreSQL on the backend. JavaScript used in the frontend.</li>
<li><strong>
<a href="https://isabelleal.org/projects/witter/">Witter</a></strong>: an experiment on the possible applications of <a href="https://en.wikipedia.org/wiki/Witt_vector">Witt vectors</a> 
to cryptography. Encrypts and decrypts a given message using a provided (or randomly generated) key. Implemented in Python using the Flask module. 
</li>   
</ul>


{% endblock %}

</body>
</html>				