{% extends "template.html" %}
{% block title %}Projects | Isabel Leal{% endblock %}
{% block content %}

<h2>Projects</h2>
<p>I am interested in exploring interactions between number theory and computer science. </p>
<p><a href="https://isabelleal.org/projects/witter/">Witter</a> is an initial-stage experiment on the possible applications of <a href="https://en.wikipedia.org/wiki/Witt_vector">Witt vectors</a> 
to cryptography. It is implemented as a <a href="https://en.wikipedia.org/wiki/Block_cipher">block cipher</a>.</p>

{% endblock %}

</body>
</html>				